<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="container text-center">
            <br><br>
        <h1>Face Recognition</h1>
            <br><br><br>
        <h3>Upload your image to be used inside our application:</h3>
            <br><br>
        <form method=POST enctype=multipart/form-data action="{{ url_for('get_image') }}">
            <input type=file name=file class="btn btn-outline-dark">
            <input type="submit" class="btn btn-outline-dark">
        </form>
            <br><br><br><br><br>
            <br><br><br>
    </div>
</body>
</html>